<clr-datagrid>
  <clr-dg-row>
    <clr-dg-cell>
      <clr-combobox-container *ngIf="true">
        <label>Phone Number(s)</label>
        <clr-combobox
          [(ngModel)]="selectedUsers"
          [clrMulti]="true"
          (clrInputChange)="inputChange($event)"
          ngDefaultControl
        >
          <ng-container *clrOptionSelected="let user">
            <clr-icon shape="user" role="img" aria-label="manager"></clr-icon>
            {{ user?.label }}
          </ng-container>
          <clr-options>
            <clr-option *clrOptionItems="let user of users" [clrValue]="user">
              <clr-icon shape="user" aria-label="manager-icon"></clr-icon>
              {{ user?.label }}
            </clr-option>
          </clr-options>
        </clr-combobox>
        <clr-control-helper
          >Type phone number and select from the dropdown
          list</clr-control-helper
        >
      </clr-combobox-container>
      <clr-textarea-container>
        <label>Message</label>
        <textarea
          clrTextarea
          [(ngModel)]="message"
          #textarea="ngModel"
          name="message"
          cols="40"
          rows="7"
          required
        ></textarea>
        <clr-control-helper>Type in the message</clr-control-helper>
      </clr-textarea-container>
      <button
        class="btn"
        [disabled]="textarea.invalid || !selectedUsers"
        (click)="sendSms()"
        [clrLoading]="validateBtnState"
      >
        Send Message
      </button>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
