<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="angle-double"></clr-icon>
        <span class="title">Schmsoft</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Core</a>
      <a href="javascript://" class="nav-link nav-text"
        >Interactive Analytics</a
      >
    </div>
    <div class="header-actions header-actions--overflow" *ngIf="isLoggedIn">
      <clr-dropdown clrPosition="bottom-right">
        <button
          class="nav-text"
          clrDropdownTrigger
          aria-label="open user profile"
        >
          Developer
          <clr-icon shape="angle down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <button type="button" clrDropdownItem>Preferences</button>

          <div class="dropdown-divider"></div>

          <button type="button" clrDropdownItem (click)="logout()">
            Log out
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="content-container">
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="collapsed"
    >
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="lightbulb" clrVerticalNavIcon></clr-icon>
        Overview
      </a>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="employee-group" clrVerticalNavIcon></clr-icon>
        People & Businesses
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="./normal/pidgey"
            routerLinkActive="active"
          >
            Clients
          </a>
          <a
            clrVerticalNavLink
            routerLink="./normal/snorlax"
            routerLinkActive="active"
          >
            Businesses
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="form" clrVerticalNavIcon></clr-icon>
        Loans
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="./fire/charmander"
            routerLinkActive="active"
          >
            Applications
          </a>
          <a
            clrVerticalNavLink
            routerLink="./fire/charizard"
            routerLinkActive="active"
          >
            Active Loans
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="wallet" clrVerticalNavIcon></clr-icon>
        Payments
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="./electric/pikachu"
            routerLinkActive="active"
          >
            Repayments
          </a>
          <a
            clrVerticalNavLink
            routerLink="./electric/raichu"
            routerLinkActive="active"
          >
            Disbursements
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <div class="nav-divider"></div>

      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
        Settings
      </a>
    </clr-vertical-nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
