<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="angle-double"></clr-icon>
        <span class="title">Schmsoft</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Core</a>
      <a href="javascript://" class="nav-link nav-text"
        >Interactive Analytics</a
      >
    </div>
    <div class="header-actions" *ngIf="isLoggedIn">
      <clr-dropdown>
        <button
          class="nav-text"
          clrDropdownTrigger
          aria-label="open user profile"
        >
          Developer
          <clr-icon shape="caret" direction="down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <button type="button" clrDropdownItem>Preferences</button>

          <div class="dropdown-divider"></div>

          <button type="button" clrDropdownItem (click)="logout()">
            Log out
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="content-container">
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="collapsed"
    >
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Normal
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="./normal/pidgey"
            routerLinkActive="active"
          >
            Pidgey
          </a>
          <a
            clrVerticalNavLink
            routerLink="./normal/snorlax"
            routerLinkActive="active"
          >
            Snorlax
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
        Fire
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="./fire/charmander"
            routerLinkActive="active"
          >
            Charmander
          </a>
          <a
            clrVerticalNavLink
            routerLink="./fire/charizard"
            routerLinkActive="active"
          >
            Charizard
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
        Electric
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="./electric/pikachu"
            routerLinkActive="active"
          >
            Pikachu
          </a>
          <a
            clrVerticalNavLink
            routerLink="./electric/raichu"
            routerLinkActive="active"
          >
            Raichu
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
