<div class="card">
  <div class="card-header">Basic info</div>
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row clr-align-items-start">
        <div class="clr-col p2">Business Name</div>
        <div class="clr-col p3">Mwanzo Ventures</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Business Type</div>
        <div class="clr-col p3">E-commerce</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Category</div>
        <div class="clr-col p3">Sales</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Status</div>
        <div class="clr-col p3" style="color: green">Active</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Descriptions</div>
        <div class="clr-col p3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
          mollitia quo enim porro voluptatem aperiam labore! Molestias quasi
          reprehenderit doloremque! Consequatur ullam, sunt corrupti ut modi
          ipsam exercitationem excepturi quod?
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Registration No.</div>
        <div class="clr-col p3">E-234343</div>
      </div>
    </div>
  </div>
</div>
