<div class="card">
  <div class="card-block">
    <div class="card-header">
      <button class="btn btn-sm" (click)="openModal = true">
        Send message
      </button>
    </div>
    <div class="card-block">
      <div class="card-text">
        <div class="clr-row clr-align-items-start">
          <ssw-timeline [contactRecords]="contactRecords"></ssw-timeline>
        </div>
      </div>
    </div>
  </div>
</div>

<ssw-sms-modal
  [openModal]="openModal"
  (handleCloseModal)="closeModal($event)"
  [ownersData]="ownersData"
></ssw-sms-modal>
