<clr-wizard
  #createClientWizard
  [clrWizardOpen]="showClientForm"
  [clrWizardSize]="'lg'"
  (clrWizardOpenChange)="close()"
>
  <clr-wizard-title>New Client</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" (clrWizardButtonClicked)="close()"
    >Cancel</clr-wizard-button
  >
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button
    [type]="'custom-finish'"
    (clrWizardButtonClicked)="submit()"
    >Complete</clr-wizard-button
  >

  <clr-wizard-page
    #pageOne
    [clrWizardPageNextDisabled]="basicDetailsForm.invalid"
  >
    <ng-template clrPageTitle>Basic Information</ng-template>
    <ng-template clrPageNavTitle>Basic Information</ng-template>

    <ssw-client-basic-details-form
      [formGroup]="basicDetailsForm"
    ></ssw-client-basic-details-form>
  </clr-wizard-page>

  <clr-wizard-page
    #pageTwo
    [clrWizardPageNextDisabled]="identificationDetailsForm.invalid"
  >
    <ng-template clrPageTitle>Identification Details</ng-template>
    <ng-template clrPageNavTitle>Identification Details</ng-template>

    <ssw-client-identification-details-form
      [formGroup]="identificationDetailsForm"
    ></ssw-client-identification-details-form>
  </clr-wizard-page>

  <clr-wizard-page
    #pageThree
    [clrWizardPageNextDisabled]="contactDetailsForm.invalid"
  >
    <ng-template clrPageTitle>Contact Details</ng-template>
    <ng-template clrPageNavTitle>Contact Details</ng-template>

    <ssw-client-contact-details-form
      [formGroup]="contactDetailsForm"
    ></ssw-client-contact-details-form>
  </clr-wizard-page>

  <clr-wizard-page
    #pageFour
    [clrWizardPageNextDisabled]="businessBasicDetailsForm.invalid"
  >
    <ng-template clrPageTitle>Business Details</ng-template>
    <ng-template clrPageNavTitle>Business Details</ng-template>

    <ssw-business-basic-details-form
      [formGroup]="businessBasicDetailsForm"
    ></ssw-business-basic-details-form>
  </clr-wizard-page>

  <clr-wizard-page #pageFive>
    <ng-template clrPageTitle>Summary</ng-template>
  </clr-wizard-page>
</clr-wizard>
