<h1 class="page-header">Send Message</h1>
<h2 class="p3">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores
  voluptatem modi amet cum iusto itaque velit minus? Eaque fugiat fugit sit,
  consectetur earum iure assumenda? Unde fugit ducimus aperiam. Laudantium,
  suscipit officia esse hic ex consequuntur optio, quia quo ullam earum
  consectetur deserunt aliquam eligendi iste labore totam perspiciatis quibusdam
  dolorum dolore deleniti molestiae ipsum temporibus! Atque, dolorem facere?
</h2>
<ssw-sms
  [users]="users"
  [message]="message"
  [selectedUsers]="selectedUsers"
  [validateBtnState]="validateBtnState"
  (handleSendSms)="sendMessage($event)"
></ssw-sms>
