<clr-vertical-nav
  [clrVerticalNavCollapsible]="true"
  [(clrVerticalNavCollapsed)]="collapsed"
  class="nav-trigger--bottom"
  [clr-nav-level]="2"
>
  <a
    clrVerticalNavLink
    routerLinkActive="active"
    routerLink="/core/"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <clr-icon shape="lightbulb" clrVerticalNavIcon></clr-icon>
    Overview
  </a>
  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="employee-group" clrVerticalNavIcon></clr-icon>
    People & Businesses
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="/core/clients"
        routerLinkActive="active"
      >
        Clients
      </a>
      <a
        clrVerticalNavLink
        routerLink="./normal/snorlax"
        routerLinkActive="active"
      >
        Businesses
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="form" clrVerticalNavIcon></clr-icon>
    Loans
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="./fire/charmander"
        routerLinkActive="active"
      >
        Applications
      </a>
      <a
        clrVerticalNavLink
        routerLink="./fire/charizard"
        routerLinkActive="active"
      >
        Active Loans
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="wallet" clrVerticalNavIcon></clr-icon>
    Payments
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="./electric/pikachu"
        routerLinkActive="active"
      >
        Repayments
      </a>
      <a
        clrVerticalNavLink
        routerLink="./electric/raichu"
        routerLinkActive="active"
      >
        Disbursements
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <a clrVerticalNavLink routerLink="/core/message" routerLinkActive="active">
    <clr-icon shape="envelope"></clr-icon> Send Message
  </a>

  <div class="nav-divider"></div>

  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    Settings
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="/core/settings/portfolio"
        routerLinkActive="active"
      >
        Portfolio
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>
