<h1 class="page-header">Loan Portfolios</h1>

<button class="btn btn-primary" (click)="createPortfolio()">
  New Portfolio
</button>

<clr-datagrid>
  <clr-dg-column>Portfolio</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Action</clr-dg-column>
  <clr-dg-row *ngFor="let loanPortfolio of loanPortfolios$ | async">
    <clr-dg-cell>{{ loanPortfolio.name }}</clr-dg-cell>
    <clr-dg-cell>{{ loanPortfolio.description }}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-sm" (click)="editPortfolio(loanPortfolio)">
        Update
      </button>
      <button class="btn btn-sm btn-outline-danger">Delete</button>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<ssw-edit-portfolio
  [openModal]="showPortfolioModal"
  (openModalChanged)="showPortfolioModal = $event; loanPortfolio = null"
  [portfolio]="loanPortfolio"
></ssw-edit-portfolio>
