<h1 class="page-header">Loan Portfolios</h1>

<button class="btn btn-primary" (click)="createPortfolio()">
  New Portfolio
</button>

<clr-datagrid>
  <clr-dg-column>Portfolio</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Action</clr-dg-column>
  <clr-dg-row *ngFor="let loanPortfolio of loanPortfolios">
    <clr-dg-cell>{{ loanPortfolio.name }}</clr-dg-cell>
    <clr-dg-cell>{{ loanPortfolio.description }}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-sm" (click)="editPortfolio(loanPortfolio)">
        Update
      </button>
      <button class="btn btn-sm btn-outline-danger">Delete</button>
      <a
        [routerLink]="['/core/settings/portfolio', loanPortfolio.id]"
        class="btn btn-sm btn-outline-primary"
        >Details</a
      >
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<ssw-update-portfolio
  [openModal]="showPortfolioModal"
  (openModalChanged)="showPortfolioModal = $event; loanPortfolio = null"
  [portfolio]="loanPortfolio"
  (portfolioCreated)="portfolioCreated($event)"
  (portfolioUpdated)="portfolioUpdated($event)"
></ssw-update-portfolio>
