<div class="card">
  <div class="card-header">Sales info</div>
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row clr-align-items-start">
        <div class="clr-col p2">Operating Currency</div>
        <div class="clr-col p3">Ksh</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Operating Capital</div>
        <div class="clr-col p3">{{ 1123123 | currency: "ksh" }}</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Daily Sales Currency</div>
        <div class="clr-col p3">{{ 123123 | currency: "ksh" }}</div>
      </div>
      <div class="clr-row">
        <div class="clr-col p2">Daily Sales</div>
        <div class="clr-col p3">{{ 121331321 | currency: "ksh" }}</div>
      </div>
    </div>
  </div>
</div>
