<h1 class="page-header">Clients</h1>

<button type="button" class="btn btn-primary" (click)="showClientForm = true">
  New Client
</button>

<clr-datagrid>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Phone Number</clr-dg-column>
  <clr-dg-column>ID Number</clr-dg-column>
  <clr-dg-column>ID Type</clr-dg-column>
  <clr-dg-column>Registered on</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>

  <clr-dg-row *ngFor="let client of clients$ | async">
    <clr-dg-cell>{{ client.user.name }}</clr-dg-cell>
    <clr-dg-cell>{{ client.phoneNumber }}</clr-dg-cell>
    <clr-dg-cell>{{ client.identificationNumber }}</clr-dg-cell>
    <clr-dg-cell>{{ client.identificationMethod }}</clr-dg-cell>
    <clr-dg-cell>{{ client.created | date }}</clr-dg-cell>
    <clr-dg-cell>
      <a
        [routerLink]="['/core/clients', client.business.id]"
        class="btn btn-info btn-sm"
        >Details</a
      >
    </clr-dg-cell>
  </clr-dg-row>

  <!-- <clr-dg-footer>{{ users.length }} users</clr-dg-footer> -->
</clr-datagrid>

<ssw-create-client
  [showClientForm]="showClientForm"
  (showClientFormChanged)="handleWizardClosed($event)"
></ssw-create-client>
